section.main.css-1v3fvcr.egzxvld3{
    background-color: black;
}

span.css-10trblm.e16nr0p30{
    color: white;
}

label.css-qrbaxs.effi0qh3{
    color: #C0C0C0;
}

button.css-1cpxqw2.edgvbvh9{
    background-color: orange;
    color: white;
    transition-duration: 0.4s;
}

button.css-1cpxqw2.edgvbvh9:hover{
    background-color: #e65c00;
    color: white;
}

p{
    color: #A9A9A9;
}

